@use "../base/color" as colors;

.languages_boxes {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  gap: 1rem;
  .language_button {
    figure {
      cursor: pointer;

      width: clamp(1.5rem, 5vw, 2rem);
      height: clamp(1rem, 5vw, 1.2rem);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .active {
    background-color: colors.$purple-light-extra;
  }

  button {
    padding: clamp(0.5rem, 2vw, 1rem);
    font-size: clamp(0.8rem, 3vw, 1rem);
    border: 1px solid colors.$purple-light;
    background-color: colors.$purple-dark;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:not(.active):hover {
      background-color: colors.$purple-light;
    }
  }
}
