@use "../base/color" as colors;

.main_title {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 4vw, 1.5rem);
  h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 500;
    line-height: 1.4;

    a {
      font-weight: bold;
      color: colors.$purple-light-extra;
      cursor: pointer;
    }
  }
  .about_variables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);

    font-size: clamp(0.8rem, 3vw, 1rem);

    a {
      color: rgba(255, 255, 255, 0.8);
      .social_icon {
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}
