@forward "../fonts/fonts";
@use "../base/color" as colors;

:root {
  font-family: Geist, sans-serif;
}

::selection {
  background-color: colors.$purple-light-extra;
  color: colors.$base-color;
}

::-webkit-scrollbar {
  width: 0.3rem !important;
  background-color: colors.$base-color !important;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$purple-light-extra !important;
}
